*{
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Recursive', sans-serif;
}
.top{
    display: flex;
    background-color: #00A6A4 ;
    height: 80px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: white;
}
.header-text{
    margin-left: 10px;
}
.nav-bar {
    display: grid;
    grid-template-columns: 3fr 1fr;
    
    column-gap: 200px;
}
.nav-flex {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    }
.logo-img{
    height: 50px;
    width: 100px;
}
.sign-btn {
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.all-sign-btn{
    width: 90px;
    height: 30px;
    border-radius: 5px;
}
.sign-up{
background-color: #FF8000;
color: white;
border: none;
}
.sign-in{
    border-color: #00A8AF;
    color: #00A8AF;
    border-width: 2px;
    background-color: white;
}
a{
    text-decoration: none;
    color: black;
}
.grid1{
    display: grid;
    grid-template-columns: 50% 50%;
    background-color: #FAFAFC;
}
.grid1-left{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 70px;

}
.grid1-left-head{
    font-size: 30px;
}
.all-style{
    
    margin-left: 100px;
    margin-right: 50px;
    margin-bottom: 20px;
}
.mint-xl {
    height: 480px;
    width: 100%;
}
.grid1-right{
    
}
.grid1-left-btn {
background-color: #FF8000;
color: white;
border: none;
width: 170px;
height: 45px;
border-radius: 5px;

}
.cards{
    display: flex;
    margin-top: 50px;
    background-color: white;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}

.cards-prop{
    display: flex;
    flex-direction: column;
    margin-right: 20px;
    align-items: center;
    text-align: center;
    height: 250px;
    width: 300px;
    border-width: 5px;
    border-top-color: #00A8AF;
    border-radius: 5px;
    
    border-top-style: solid;
    box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.2);
}
.cards-prop h1{
    margin-bottom: 20px;
}
.cards-prop p{
    margin-bottom: 40px;
}

.cards-prop img{
    height: 60px;
    width: 40px;
    margin-top: 30px;
    margin-bottom: 20px;
}
.grid2{
    display: grid;
}
